body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/171/696/original/seamless-pattern-with-pink-pointe-shoes-hearts-notes-butterflies-confetti-and-crowns-hand-drawn-ballet-background-party-for-girls-little-ballerina-baby-shower-vector.jpg');
  background-repeat: repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.45)   /* 35% opaque white */;
  padding: 0.25em;
}
