body {
  background-image: url('https://img.freepik.com/free-vector/fruits-pattern-concept_23-2148609188.jpg?size=338&ext=jpg&ga=GA1.2.1149860058.1620691200');
  background-repeat: repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.45)   /* 35% opaque white */;
  padding: 0.25em;
}
