body {
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/02/59/seamless-fruit-pattern-vector-21370259.jpg');
  background-repeat: repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.45)   /* 35% opaque white */;
  padding: 0.25em;
}